.st0{display:none;}
.st1{display:inline;fill:#101525;}
.st2{fill:#EB5B5D;fill-opacity:0.28;stroke:#EB5B5D;stroke-width:3;stroke-miterlimit:10;}
.st3{fill:#EB5B5D;}
.st4{font-family:'Quicksand-Regular';}
.st5{font-size:119.0267px;}
.st6{letter-spacing:6;}
